<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @named_location.reference %>
</p>


<%= link_to 'Edit', edit_named_location_path(@named_location) %> |
<%= link_to 'Back', named_locations_path %>
