<div class="textContainer">
<h3>How Berlin is your neighborhood?</h3>

Post pictures of places you visit and things you see.
Share your inspirations and get inspired. Through our website and mobile phone applications,
  we want to provide you and your friends with an open community platform where you can share your Berlin moments
  in the neighborhood and around the world. We want to help you find still unknown and hip spots
  near you - be it fashion, design, art, music, food or drinks.
  Check out our interactive map or browse through best rated pictures of your neighborhood.

<h3>iPhone application:</h3>

Our iPhone application (download <a href="https://itunes.apple.com/us/app/so-berlin/id572498137?mt=8&ign-mpt=uo%3D2">here</a>) allows you to upload photos from
  wherever you are and to geolocate them to your current location, for all to see and rediscover.
  Engage with other users, rate and discuss pictures in order to find new spots of Berlin near you.
<br/>
  The So Berlin is so simple, cool and intuitive that you just have to love it. See some sample screenshots below but get the full taste by downloading and using it now!
  <div id="screenshots">
    <%= image_tag "screenshot1.png", :style => "margin-top: 15px;", :alt => "So Berlin screen shot" %>
    <%= image_tag "screenshot2.png", :style => "margin:15px 3px 0px 3px;", :alt => "So Berlin screen shot" %>
    <%= image_tag "screenshot3.png", :style => "margin-top: 15px;", :alt => "So Berlin screen shot" %>
  </div>

<!--"INSERT SCREEN SHOT OF APP WITH EXPLANATION BUBBLES"-->

<h3>Android, Blackberry, Nokia and Windows Phone:</h3>

We are working hard to program the application for other mobile devices.
  A star is not born in one day :) Please check in frequently on our news portal <a href="press" >here</a>.

<h3>Legal issues:</h3>

Remember, all photos and comments you post will be stored on an open community platform. Do not post pictures with illegal, illicite or private content. Should you have an issue with any picture or comment, please contact us immediately under <a href="mailto:info@soberling.org">info[at]soberlin[dot]org</a>.
<br/>
For more information, please refer to our terms and conditions of business <a href="terms" >here</a>.

  <h3>Privacy policy:  </h3>
Check our privacy policy <a href="/privacy">here</a>.

  <h3>Vision and team:      </h3>
  It is our vision to become your number one inspirational guide to urban locations and trends.<br/>
We are an interactive team of developers and programmers located in Berlin, New York and Zurich.
  Join us and help building this platform into the next generation location tracker.
  Interested? Contact us under <a href="mailto:info@soberlin.org">info[at]soberlin[dot]org</a>.

  <h3>Partnerships:  </h3>

Interested in displaying your information on our platform?<br/>

To all of you,<br/>
a big bear hug, your So Berlin Team

</div>

