<div class="textContainer">
  <h3></h3>

  Interested? Concerned? Feedback? Questions?<br/>
  Please feel free to contact us under <a href="mailto:thimios@wantedpixel.com">thimios[at]wantedpixel[dot]com</a>. We are looking forward to your comments.

</div>

