<% if user_signed_in? %>
    <h1>So Berlin</h1>

    <%= render 'devise/menu/login_items' %>

    <p>Site in construction</p>

    <li>
      <%= link_to('View all Photos ', photos_path) %>
    </li>
<% else %>

    <div id="photosPart">
    <div class="photosRow">
      <div class="photoContainer">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
    </div>
    <div class="photosRow">
      <div class="photoContainer">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
    </div>
    <div class="photosRow">
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
    </div>
    <div class="photosRow">
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
    </div>
    <div class="photosRow">
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
    </div>
    <div class="photosRow">
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
      <div class="photoContainer ">
        <div class="scotch"></div>
        <div class="overlay"></div>
        <div class="photoThumb">
          <img src="/assets/photo.jpg" />
        </div>
        <div class="photoTitle">Image Title</div>
        <div class="photoAuthor">by Wanted Pixel</div>
      </div>
    </div>
    </div>



<% end %>
