<% if user_signed_in? %>
    <h1>So Berlin</h1>

    <%= render 'devise/menu/login_items' %>

    <p>Site in construction</p>

    <li>
      <%= link_to('View all Photos ', photos_path) %>
    </li>
<% else %>
    <% content_for :head do %>
        <meta property="og:title" content="so Berlin! - How Berlin is your neighbourhood? Inspire, get inspired!" /><meta property="og:type" content="company" /><meta property="og:site_name" content="so Berlin!" /><meta property="og:url" content="http://www.soberlin.org" /><meta property="og:image" content="null" /><meta property="og:description" content="I just signed up on So Berlin (soberlin.org)! - So inspiring and fresh " />
    <% end %>

    <div rel="0HX5YWTV" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="www.soberlin.org" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>

<% end %>
