<div class="textContainer">
  <h3></h3>
  Please contact us for more information under <a href="mailto:info@soberlin.org">info[at]soberlin[dot]org</a> if you are interested in the project. Help us spread the word!
  <div class="press_container">
    <div class="press_photo">
      <%= image_tag "screenshot1.png", :style => "margin-top: 15px;", :alt => "So Berlin screen shot" %>
    </div>
    <div class="press_text">
      <h2>Lorem ipsum dolor</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    </div>
  </div>
</div>


