<div class="textContainer">
  <h3></h3>
  <!--Please contact us for more information under <a href="mailto:info@soberlin.org">info[at]soberlin[dot]org</a> if you are interested in the project. Help us spread the word!-->
  <div class="press_container">
    <div class="press_item">
        <div class="press_photo">
          <%= image_tag "http://www.swissict.ch/typo3conf/ext/sitepackage/packages/local/site/swissictch/preset/theme/preset/image/logo.png", :style => "margin-top: 15px;", :alt => "Welcome to So Berlin" %>
        </div>

        <div class="press_text">
          <h2>So Berlin selected as one of the top start-ups to present at the 10th ICT Investor's Day!</h2>
          <h5>Monday, 27 May 2013</h5>
          We are extremely happy to announce that we have been selected by an expert jury as one of the top 8 new start-ups in Switzerland and are thus able to present us to the audience at the 10th ICT Investor's Day. The event will take place at “Colab” Zurich on 10th of June 2013. We very much look forward to participating in this competition and to network with all the investors and supporters. For more details please see here <a target="_blank" href="http://www.ict-investors-day.ch/10th-iid-zurich">here</a>.
        </div>
    </div>
    <div class="press_item">
      <div class="press_photo">
        <%= image_tag "welcome.png", :style => "margin-top: 15px;", :alt => "Welcome to So Berlin" %>
      </div>

      <div class="press_text">
        <h2>So Berlin app available in the App Store now!</h2>
        <h5>Monday, 29 April 2013</h5>
        Dear World, we proudly announce that as of today the So Berlin app is finally available to be downloaded <a target="_blank" href="https://itunes.apple.com/us/app/so-berlin/id572498137?mt=8&ign-mpt=uo%3D2">here</a>. Check it out and inspire others and get inspired yourselves! Be the first to find out how Berlin your neighbourhood is!
      </div>
    </div>
  </div>

</div>
