<div class="textContainer">
  <h3></h3>
  <!--Please contact us for more information under <a href="mailto:info@soberlin.org">info[at]soberlin[dot]org</a> if you are interested in the project. Help us spread the word!-->
  <div class="press_container">
    <div class="press_photo">
      <%= image_tag "welcome.png", :style => "margin-top: 15px;", :alt => "Welcome to So Berlin" %>
    </div>
    <div class="press_text">
      <h2>So Berlin app available in the App Store now!</h2>
      <h5>Monday 29/04/13</h5>
      Dear World, we proudly announce that as of today the So Berlin app is finally available to be downloaded <a href="https://itunes.apple.com/us/app/so-berlin/id572498137?mt=8&ign-mpt=uo%3D2">here</a>. Check it out and inspire others and get inspired yourselves! Be the first to find out how Berlin your neighbourhood is!
    </div>
  </div>
</div>


