<div class="textContainer">

<!--<b> 		Terms and Conditions<br> 		As per 1 November 2012<br>-->
<h3> 		1. Introduction	</h3>
1.1. So Berlin ("SOBERLIN" or "we"), through its websites www.soberlin.net, www.soberlin.ch, www.soberlin.org or any other domain (the "Websites") or through its iPhone or any other mobile phone tablet of computer applications (the “Apps”), provides an exchange platform for geo-location linked photos and comments concerning photos to an open community of users (the “Users” or “you”).
<br/>1.2. By accessing the Websites or downloading and opening or using the Apps, Users agree to abide by the Terms set forth herein. If you do not agree to these Terms do not use the Websites or Apps. Users signify that they have read, understood and accepted these Terms.
  <br/> 	1.3. SOBERLIN reserves the right to amend these Terms at any time without prior notice. By continued use of the Websites or Apps, Users declare their continued consent with the amended Terms.
  <br/> 	1.4. Unless specifically stated, any agreement to these Terms does not have the effect that any business relationship is to be governed by Swiss or any other agency law (“Auftrag”).
  <h3>2. Websites and Apps Content</h3>
  2.1. All photos, titles, subtitles, comments and any other information pertaining to any photos as we as all usernames any other personal user data and geo-location (the “Content”) are voluntarily delivered to SOBERLIN by the respective Users. The Users are solely responsible for all Content posted on the Websites or Apps. The Users have to ensure that none of the Content contains any illegal or inappropriate information, including but not limited to any violation of personal rights of any individuals or corporations, pornographic or violent content.
  <br/> 	2.2. The Websites and Apps input options provided to Users by SOBERLIN are general in nature and their use in any form or shape remains in the sole responsibility of the Users.
  <br/> 	2.3. While SOBERLIN shall use reasonable efforts to display photos and information we believe to be appropriate. SOBERLIN gives no warranty as to accuracy, completeness or reliability of any information or opinion contained on the Websites or the Apps, nor does SOBERLIN ensure that the Websites or Apps will be available or accessible at all times. Inappropriate or illegal Content will be blocked by SOBERLIN without prior notices. Inappropriate or illegal Content can be reported via the Websites or Apps or directly to <a href="mailto:info@soberlin.org">info@soberlin.org</a>.
  <br/> 	2.4. SOBERLIN shall have no liability for any direct, indirect, consequential or special losses or damages of any kind whatsoever arising from or in connection to with the access to the Websites or Apps or any reliance of the Content. This exclusion of liability does not apply to the extend that such exclusions are invalid or ineffective under any law or regulation applicable to SOBERLIN.
  <br/> 	2.5. SOBERLIN may use information for purposes relating to customizing the Content and advertising on the Websites or Apps, conduct analysis and research, improve and sell products and services, provide statistics, comply with legal processes, subpoenas, court orders, prevent fraud or imminent harm and ensuring the security of our Websites, Apps and network and to protect the interest of SOBERLIN or others. SOBERLIN may use and reuse, publish, print, or sell the Content voluntarily posted by Users.
  <h3>3. Users </h3>
  3.1. The Users abide to the Terms set forth herein and acknowledge that their account can be blocked or deleted without prior notice, should SOBERLIN see it prudent. The Users will abide by all laws under their jurisdiction with any actions related to the Website, Apps and any of the Content.
  <br/> 	3.2. Users acknowledge the need for geo-location of their mobile phone or tablet device.
  <br/> 	3.3. The Users complete all forms of SOBERLIN truthfully and completely.
  <h3>4. Privacy Policy</h3>
  4.1. SOBERLIN takes the privacy of the Users seriously and shall use reasonable efforts to prevent any breach in privacy of any User or any person or company depicted in the photos or elsewhere mentioned in the Content.
  <br/> 	4.2. See Section 2 Websites and Apps Content for information concerning the use of the Content.
  <h3>5. Computer and other Viruses</h3>
  5.1. SOBERLIN does not give any warranties that the Websites, Apps, information, documents, data and any download or online material is free from viruses. While SOBERLIN does its best to prevent this from occurring, we will not be responsible for any damage potentially caused by such viruses to computers, mobile phones and/or any other IT devices. SOBERLIN cannot guarantee that the Websites or Apps do not influence the proper functioning of any devices.
  <h3>6. Links and References</h3>
  6.1. The Websites, Apps or Content may contain links and references to other websites that SOBERLIN does neither control nor give any warranty that the information placed thereon is correct, complete or should in any way influence a investment decision. SOBERLIN does not take any liability for information displayed on other websites.
  <h3>7. Intellectual Property</h3>
  7.1. The copyright and other intellectual property rights of the Content are owned by SOBERLIN. Any use of the Content for any purpose is accordingly prohibited except as stated below.
  <br/> 	7.2. Users and other individuals or corporations may not reproduce, transmit, modify, link into, store, archive or in any other way use for any public or commercial purpose the Websites or Apps or any of the Content without the explicit prior written permission of SOBERLIN.
  <h3>8. Governing Law</h3>
  8.1. All legal relations between Users and SOBERLIN shall be governed under Swiss law. Zurich, Switzerland, shall serve as the place of performance and place of executive jurisdiction for all disputes arising out of or in connection with the Websites, Apps or Content.

</div>

