<% if user_signed_in? %>
    <h1>So Berlin</h1>

    <%= render 'devise/menu/login_items' %>

    <p>Site in construction</p>

    <li>
      <%= link_to('View all Photos ', photos_path) %>
    </li>
<% else %>

    bla bla terms



<% end %>
