

  <div id="footer">
      <div class="linkContainer">
        <span class="footerLink">
            about
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
            press
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
            contact
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
            terms and conditions
        </span>
        <div id="socialLinks">
            <a target="_blank" href="http://www.facebook.com/soberlinapp"><div id="fbLink"></div></a>
          <a target="_blank" href="https://twitter.com/so_berlin"><div id="twitterLink"></div></a>
        </div>
      </div>
</div>







