<footer id="footer">

  <span class="footerLink"> <%= link_to "about", :about %> </span>
  <span class="dot"> . </span>
  <span class="footerLink"> <%= link_to "terms and conditions", :terms %> </span>


</footer>

</div>