

  <div id="footer">
      <div class="linkContainer">
        <span class="footerLink">
            about
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
            press
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
            contact
        </span>
        <span class="dot">
            .
        </span>
        <span class="footerLink">
            terms and conditions
        </span>
        <div id="socialLinks">
            <div id="fbLink"></div>
            <div id="twitterLink"></div>
        </div>
      </div>
</div>







