<header id="header">
  <div id="topPart">
    <div id="logo">
      <img src="/assets/logo.png" />
    </div>
    <div id="topRight">
      <div id="topRightTop">
        <div id="slogan">
          <img src="/assets/slogan.png" />
        </div>
        <div id="storeLink">
          <div id="storeLinkText">In laoreet velit ac nisl venenatis nemit tepum dapibus by SoBerlin !</div>
          <div
          id="downloadButton"></div>
        </div>
      </div>
      <div id="menu">
        <span style="margin:0px;padding:0px;">Last updates:</span>
								<span class="menuItem" id="active">
									<span><a href="?show=all">All</a></span>
								</span>
								<span class="menuItem">
									<span><a href="?show=fashion">Fashion</a></span>
								</span>
                                <span class="menuItem">
                                	<span><a href="?show=places">Places</a></span>
                                </span>
                                <span class="menuItem blastItem">
                                	<span><a href="?show=design">Design</a></span>
                                </span>
                                <span class="menuItem lastItem">
                                	<span><a href="?show=best">Best</a></span>
                                </span>
      </div>
    </div>
  </div>
</header>