<!DOCTYPE html>
<head>
  <title>SoBerlin</title>
  <meta property="og:title" content="so Berlin! - How Berlin is your neighbourhood? Inspire, get inspired!" />
  <meta property="og:type" content="company" />
  <meta property="og:site_name" content="so Berlin!" />
  <meta property="og:url" content="http://www.soberlin.org" />
  <meta property="og:image" content="null" />
  <meta property="og:description" content="I just signed up on So Berlin (soberlin.org)! - So inspiring and fresh " />
  <meta name="google-site-verification" content="Misk3XOGm5ObgQ5mA-Ju_z5wbGPKhcVDLo4UV9P14nE" />


  <%= csrf_meta_tags %>

</head>


<body>



<%= yield %>

</body>
</html>